.cor1{ width: 100%;
    height: 50px;
   background-color: aqua;

}

.cor2{height: 400px;
     background-color: brown;

}

.cor3{height: 50px;
    background-color: chartreuse;


}
.cor4{width: 100%;
    height: 50px;
    background-color: coral;


}